css 
body { font-family: sans-serif; margin:0; padding: 0;}
header {background: #0c32b1; color: #fff;padding:1rem;text-align:center;}
#product-list{display: flex; flex-wrap:wrap;padding:1rem;}
.product {background: #fff; border:1px solid #ddd;margin:1rem;padding:1rem;width:200px;}
footer {background:#eee;text-align:center;padding:1rem;}